name: CI - Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  docker-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t surajhyadav/reactapp:${{ github.sha }} .
          docker tag surajhyadav/reactapp:${{ github.sha }} surajhyadav/reactapp:latest

      - name: Push Docker image
        run: |
          docker push surajhyadav/reactapp:${{ github.sha }}
          docker push surajhyadav/reactapp:latest
